{% extends 'dashboard/base.html' %}
{% block brand %}
<a class="navbar-brand" href="#">File Management</a>
{% endblock %}
{% block main %}
<!-- Inner Style, to solve modal proble -->
<style type="text/css">
    body.modal-open div.modal-backdrop { 
        z-index: 0; 
    }
</style>

<div class="row">
    <div class="col-md-12">
    	<div class="card">
    		<div class="header">
                <h4 class="title">File MANAGEMENT</h4>
            </div>
            <div class="content">
            	<button type="button" id="upload_btn" class="btn btn-default js-file-upload" data-url="{{ url_upload }}">
            		<i class="ti-upload"></i>
            	</button>
                <button type="button" id="create_btn" class="btn btn-primary js-folder-create" data-url="{{ url_create }}">
                    <i class="ti-plus"></i>
                </button>
                <button type="submit" id="delete_btn" class="btn btn-danger js-files-delete" form="delete-form" onclick="return confirm('Are you sure?');return false;">
                    <i class="ti-trash"></i>
                </button>
            </div>
    	</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content table-responsive table-full-width">
                <form id="delete-form" action="{% url 'delete_files' %}" method="POST">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <thead>
                            <th></th>
                            <th>Name</th>
                            <th>Modified</th>
                            <th>Size</th>
                            <th>Status</th>
                            <th colspan="2">Action</th>
                        </thead>
                        <tbody>
                            {% include 'dashboard/include/partial_file_list.html' %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Show/Hide Modal popup -->
<div class="modal fade" id="modal-file">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
</div>

<script>
    function refresh_status(file_id) {
        $.ajax({
            url: "{% url 'refresh_status' %}",
            type: "GET",
            data: {file_id: file_id},

            success: function (data) {
                $('#' + file_id + '-status').html(data.status);
{#                $('#' + file_id + '-action').html(data.status);#}
{#                location.href = "{% url 'files' %}"#}
            }
        });
    };
</script>
{% endblock %}