{% for file in folder.children.all %}
{% if file.is_folder is True %}
<tr>
    <td>
        <div class="checkbox">
            {% if file.children.all|length > 0 %}
            <input type="checkbox" name="checked_file" value="{{ file.id }}" disabled>
            {% else %}
            <input type="checkbox" name="checked_file" value="{{ file.id }}">
            {% endif %}
        </div>
    </td>
    <td>
      <a href="{% url 'files' %}?folder_id={{ file.id }}">
         <i class="ti-folder"> {{ file.name }}</i>
      </a>
    </td>
    <td><p>---</p></td>
    <td><p>---</p></td>
    <td><p>---</p></td>
    <td><p></p></td>
    <td><p></p></td>
</tr>
{% endif %}
{% endfor %}
{% for file in folder.children.all %}
{% if file.is_folder is False %}
<tr>
    <td>
        <div class="checkbox"><input type="checkbox" name="checked_file" value="{{ file.id }}"></div>
    </td>
    <td>
        <a><i class="ti-file"> {{ file.name }}</i></a>
    </td>
    <td><p>{{ file.last_modified }}</p></td>
    <td><p>{{ file.size_format }}</p></td>
    <td>
        <p id="{{ file.id }}-status">
            {% if file.status == 1 %}
                UPDATE
            {% elif file.status == 2 %}
                NOT_UPDATE
            {% elif file.status == 3 %}
                AVAILABLE
            {% else %}
                NOT_AVAILABLE
            {% endif %}
        </p>
    </td>
    <td>
        <div class="text-center" style="width: 50%">
            <form id="download-form" action="{% url 'download_file' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="download_file" value="{{ file.id }}" id="{{ file.id }}-action">
                {% if file.status == 3 or file.status == 1 %}
                    <button type="submit" id="download_btn" class="btn btn-success" data-url="{% url 'download_file' %}"><span class="ti-download"></span></button>
                {% else %}
                    <button type="submit" class="btn btn-success" disabled><span class="ti-download"></span></button>
                {% endif %}
            </form>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-primary" onclick="refresh_status('{{ file.id }}');">
            <i class="ti-reload"></i>
        </button>
    </td>
</tr>
{% endif %}
{% endfor %}