<form id="user-update-form" action="{% url 'update_user' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Profile picture</label>
                <input type="file" class="form-control border-input" name="image" value="{{ user.profile.image }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>First name</label>
                <input type="text" class="form-control border-input" placeholder="Your firstname" value="{{ user.first_name }}" name="firstname">
            </div>
        </div>
         <div class="col-md-6">
            <div class="form-group">
                <label>Last name</label>
                <input type="text" class="form-control border-input" placeholder="Your lastname" value="{{ user.last_name }}" name="lastname">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control border-input" placeholder="Your email" value="{{ user.email }}" name="email">
            </div>
        </div>
         <div class="col-md-6">
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control border-input" placeholder="Your password" value="{{ user.password }}" name="password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Company</label>
                <input type="text" class="form-control border-input" placeholder="Your company" value="{{ user.profile.company }}" name="company">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Localtion</label>
                <input type="text" class="form-control border-input" placeholder="Your address" value="{{ user.profile.localtion }}" name="location">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Bio</label>
                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="{{ user.profile.bio }}" name="bio"></textarea>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill btn-wd" data-url=""{% url 'update_user' %}"">Update Profile</button>
    </div>
    <div class="clearfix"></div>
</form>