<form method="post" action="{{ url_upload }}" class="js-file-upload-form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Upload new file</h4>
  </div>
  <div class="modal-body">
    <p>Choose files to upload to your Cloud Servers.</p>
    <div class="form-group">
        <label></label>
        <input type="file" class="form-control border-input"name="content">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Upload file</button>
  </div>
</form>