{% extends 'authentication/base.html' %}
{% block main %}
<form class="register-form" method="post">
	{% csrf_token %}
	<input type="text" placeholder="firstname" name="firstname"/>
	<input type="text" placeholder="lastname" name="lastname"/>
    <input type="text" placeholder="username" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <input type="text" placeholder="email" name="email"/>
    <button type="submit">create</button>
    <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
</form>
{% endblock %}